:not(#homelink) {
  font-family: Arial, Helvetica, sans-serif;
}

#homelink {
  font-family: 'Montserrat', sans-serif;
  border-style: solid;
  border-radius: 20px;
  text-decoration: none;
  padding: 5px;
}

