* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 125%;
}

#table {
    border-style: solid;
    border-color: black;
    border-width: 7px;
}

th {
    width: 1%;
    padding: 1%;
}

br {
    width: 5%;
}

td {
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 0.5%;
}